//$hoverColor : #6cb2eb;
//$bgcolor    : #8fd8e7;
//$hoverColor : #8fd8e7;
//$bgcolor : #6cb2eb;
$bgcolor : #9dd1ee;

.hover-shadow-effect {
    background-color : $bgcolor;
    color            : whitesmoke;

    &:hover {
        font-weight                : bold;
        background-color           : darken($color : $bgcolor, $amount : 10%);
        box-shadow                 : darken($color: $bgcolor, $amount: 5%) -1px 1px,
        darken($color: $bgcolor, $amount: 5%) -2px 2px,
        darken($color: $bgcolor, $amount: 5%) -3px 3px,
        darken($color: $bgcolor, $amount: 5%) -4px 4px,
        darken($color: $bgcolor, $amount: 5%) -5px 5px;
        transform                  : translate3d(5px, -5px, 0);

        transition-delay           : 0s;
        transition-duration        : 0.5s;
        transition-property        : all;
        transition-timing-function : linear;
    }
}

a {
    color   : whitesmoke;
    padding : 1rem 1rem;

    &:hover {
        text-decoration : none;
    }
}
